<div class="row" id="header">
  <div class="twelve columns">

    <div>
    <center><h1 style="color:white;">W8tas on Roster</h1></center>
    </div>
  </div>
  </div>
 
<div class= "row">
 <h3>DAYS</h3>
<table>
    {{#each names}}
        <tr>
        <a href="">{{shift_day}}</a>
    </tr>
    {{/each}}
</table>
</div>

