<div class="row" id="header">
  <div class="twelve columns">

    <div>
    <center>  <h1 style="color:white;">W8tas on Duty</h1></center>
    </div>
  </div>
  </div>

<div class= "row">

<table>
    <tr>
        <th>Days</th>
    </tr>

    {{#each names}}
        <tr>
        <td>{{shift_day}}</td>
    </tr>
    {{/each}}
</table>
</div>
