<div class="row" id="header">
  <div class="twelve columns">

    <div>
    <center>  <h1 style="color:white;">W8tas</h1></center>
    </div>
  </div>
</div>
<div class="twelve columns">

  {{#if messages.info}}
  <h5 style="color:#4caf50;">{{messages.info}}</h5>
  {{/if}}

<form class ="" action="/waiters/{{username}}" method="POST"><p>
<input type="checkbox" name="day" value="Monday"> Monday
<input type="checkbox" name="day" value="Tuesday"> Tuesday 
<input type="checkbox" name="day" value="Wednesday"> Wednesday 
<input type="checkbox" name="day" value="Thursday"> Thursday
<input type="checkbox" name="day" value="Friday"> Friday 
<input type="checkbox" name="day" value="Saturday"> Saturday
<input type="checkbox" name="day" value="Sunday"> Sunday
<p><button class="button" type="submit" name="button">Submit</button></p>
</form>

<div class="row">
<form class="" action="/roster" method="post" style="float:left;">
      <button class="button" type="submit" name="button"> roster</button>
</form>
</div>
