
<h2>Names Greeted</h2>

<table>
    <tr>
        <th>Name</th>
    </tr>

    {{#each names}}
        <tr>
        <td>{{username}}</td>
        <!-- <td>{{spotted_count}}</td> -->
        <td>
        </td>
    </tr>
    {{/each}}



</table>
