
<h2>Names Greeted</h2>
<span><form class="" action="/clear" method="post">
  <button class="button-primary" type="submit" name="button">Reset</button>
</form></span>
<span><form class="" action="/back" method="post">
  <button class="button-primary" type="submit" name="button">Back</button>
</form></span>

<table>
    <tr>
        <th>Name</th>
    </tr>

    {{#each names}}
        <tr>
        <td><a href="/counter/{{username}}">{{username}}</td>
    </tr>
    {{/each}}
</table>
