
<h2>Names Greeted</h2>


<div class="row">
<form class="" action="/clear" method="post" style="float: right;">
      <button class="button-primary" type="submit" name="button"> Clear</button>
</form>
<form class="" action="/back" method="post" style="float: left;">
  <button class="button-primary" type="submit" name="button">Back</button>
</form>
</div>

<div class= "row">

<table>
    <tr>
        <th>Name</th>
    </tr>

    {{#each names}}
        <tr>
        <td><a href="/counter/{{username}}">{{username}}</td>
    </tr>
    {{/each}}
</table>
</div>
