<div class="row" id="header">
  <div class="twelve columns">

    <div>
    <center>  <h1 style="color:white;">W8tas</h1></center>
    </div>
  </div>
</div>

<center><div class="row">
  <div class="twelve columns">
    <h2><i>Enter your name and select your shifts</i></h2>
    <form class="" action="/waiter/{{username}}" method="post">
      <input type ="text" name="Name" value="" placeholder="eg. Lwando" class="effect-16">
{{!-- 
      <div class="mahi_holder">
    <div class="container">
      <div class="row bg_1">
        
        <div class="col-3">
            <input class="effect-1" type="text" placeholder="Placeholder Text"> 
            </div>
            --}}
      {{!-- Users greeted:
      <span class="counter greetCounter" style="font-size:30px;">{{count}}</span> --}}
  </div>
  <div class="twelve columns">
<p>Which days would you like to work on ?</p>
<input type="checkbox" name="fruit" value="Monday"> Monday
<input type="checkbox" name="fruit" value="Tuesday"> Tuesday 
<input type="checkbox" name="fruit" value="Wednesday"> Wednesday 
<input type="checkbox" name="fruit" value="Monday"> Thursday
<input type="checkbox" name="fruit" value="Tuesday"> Friday 
<input type="checkbox" name="fruit" value="Wednesday"> Sasturday
<input type="checkbox" name="fruit" value="Wednesday"> Sunday
<p><button class="button" type="submit" name="button">Submit</button></p>
</form>
    </div>
  </div>

