<div class="row" id="header">
  <div class="twelve columns">

    <div>
    <center>  <h1 style="color:white;">Greetings</h1></center>
    </div>
  </div>
</div>

<!-- <a href="/add">Names Greeted</a> -->

<div class="row">
  <div class="twelve columns">

    <center><form class="" action="/greetings" method="post">
      <label for="">Please  Enter The Name of Person You Want To Greet</label>
      <input type="text" name="Name" value="" placeholder="eg. Lwando" class="Name">
        <div>  <button class="button-primary greetBtn" type="submit" name="button">Greet</button></div>
      <!-- <button class="button-primary greetBtn" type="submit" name="button">Greet</button> -->
    <button>  <a href="/greeted">Names Greeted</a></button>
      </div>
      <center><label for="">Please  Select the Languge you want to be greeted in</label></center>
      <center><input type="radio" name="language" class="LanguageRadio" value="Mandarin">
      <span class="label-body">Mandarin</span>
      <input type="radio" name="language" class="LanguageRadio" value="English">
      <span class="label-body">English</span>
      <input type="radio" name="language" class="LanguageRadio" value="IsiXhosa">
      <span class="label-body">IsiXhosa</span>
  </center>
  </form></center>

  <center><form class="" action="/reset" method="post">
    <button class="button-primary" type="submit" name="button">Reset</button>
  </form></center>

  <center> <div class="row">
    <div class="twelve columns">
   Names Entered :
    <h1> <span class="counter greetCounter" >{{count}}</span></h1></center>
  </div>
</div>

  <div class "">
    <center>
      <h1 style="color:black;padding-right : 20px;"><span class="greeting">{{greet}}</span></h1></center>
</div>

  <center>{{#if messages.info}}
      <h1> {{messages.info}}</h1>

  {{/if}}</center>
