<!-- {{{times}}} -->
<span><form class="" action="/home" method="post">
  <button class="button-primary" type="submit" name="button">Back</button>
</form></span>

{{#each times}}
<h1>
Hello,{{username}} has been greeted {{greeted_count}} time(s)</h1>
{{/each}}
